<h1><%= link_to("#{recipe.title}", recipe_path(recipe.id))%> </h1>
<ul>
    <li><%= recipe.cuisine.name%>
    <li><%= recipe.recipe_type.name %>
    <li><%= recipe.difficulty %>
    <li><%=recipe.cook_time %> minutos
</ul>
