<h1>CookBook</h1>
<hr>
  <%= link_to("Enviar uma receita", new_recipe_path)%>
<hr>
<p> Bem-vindo ao maior livro de receitas online</p>
<% @recipes.each do |recipe| %>
<h1> <%= link_to("#{recipe.title}", recipe_path(recipe.id))%> </h1>
    <ul>
      <li><%= recipe.recipe_type %>
      <li><%= recipe.difficulty %>difficulty
      <li><%=recipe.cook_time %> minutos
    </ul>
<%end%>

<% @cuisines.each do |cuisine| %>
  <li><%= link_to("#{cuisine.name}", cuisine) %>
<% end %>
