<!DOCTYPE html>
<html>
  <head>
    <meta name='viewport' content="width=device-widht, initial-scale=1">
    <title>Cookbook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <header>
        <h1>CookBook</h1>
          <%= link_to("Enviar uma receita", new_recipe_path)%>
          <p>Bem-vindo ao maior livro de receitas online</p>
          <% if flash[:error] %>
            <%= flash[:error] %>
        <% end %>
      </header>
      <%= yield %>
    </div>
  </body>
  </div>
</html>
