<!DOCTYPE html>
<html>
  <head>
    <meta name='viewport' content="width=device-widht, initial-scale=1">
    <title>CookBook</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
       <header>
        <nav class="navbar navbar-inverse">
         <div class="container-fluid">
           <div class="navbar-header">
             <a class="navbar-brand" >CookBook</a>
           </div>
           <ul class="nav navbar-nav">
             <li class="active"><%= link_to('Home', root_path) %></li>
             <li><%= link_to("Nova receita", new_recipe_path)%> </li>
             <li><%= link_to("Cozinhas", list_cuisines_path)%> </li>
             <li><%= link_to("Todas receitas", recipes_olds_path)%></li>
           </ul>
           <ul class="nav navbar-nav navbar-right">
             <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
             <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
           </ul>
        </div>
        </nav>
        <div class="row">
          <div class="col-md-9">
            <p>Bem-vindo ao maior livro de receitas online</p>
          </div>
          <div class="col-md-3">
            <%= form_tag(root_path, method: 'get', id: 'search-form') do %>
                <%= text_field_tag :search, "", placeholder: '*Buscar Receitas*',id: 'Busca' %>
                <%= submit_tag 'Buscar', name: nil %>
            <% end %>
          </div>
        </div>
          <% if flash[:error] %>
            <h3> <%= flash[:error] %></h3>
          <% end %>
       </header>
       <%= yield %>
    </div>
  </body>
  </div>
</html>
