<!DOCTYPE html>
<html>
  <head>
    <meta name='viewport' content="width=device-widht, initial-scale=1">
    <title>Cookbook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <header>
        <h1>CookBook</h1>
          <%= link_to("Enviar uma receita", new_recipe_path)%>
          <p>Bem-vindo ao maior livro de receitas online</p>
          <% if flash[:error] %>
          <h1> <%= flash[:error] %></h1>
        <% end %>
      </header>
      <%= form_tag(root_path, method: 'get', id: 'search-form') do %>
        <%= label_tag 'Busca', 'Buscar Receitas' %>
        <%= text_field_tag :search, "", placeholder: '*Buscar Receitas*',id: 'Busca' %>
        <%= submit_tag 'Buscar', name: nil %>
      <% end %>

      <%= yield %>
    </div>
  </body>
  </div>
</html>
