<!DOCTYPE html>
<html>
  <head>
    <meta name='viewport' content="width=device-widht, initial-scale=1">
    <title>Cookbook</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <header>
        <h1>CookBook</h1>
          <%= link_to("Enviar uma receita", new_recipe_path)%>
          <%= link_to("Ver todas receitas", recipes_olds_path)%>
          <%= link_to('Home', root_path) %>

        <div class="row">
          <div class="col-md-9">
            <p>Bem-vindo ao maior livro de receitas online</p>
          </div>
          <div class="col-md-3">
            <%= form_tag(root_path, method: 'get', id: 'search-form') do %>
                <%= text_field_tag :search, "", placeholder: '*Buscar Receitas*',id: 'Busca' %>
                <%= submit_tag 'Buscar', name: nil %>
            <% end %>
          </div>
        </div>
          <% if flash[:error] %>
            <h3> <%= flash[:error] %></h3>
          <% end %>
      </header>

      <%= yield %>
    </div>
  </body>
  </div>
</html>
